@model AliExpress.AliexpressProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Aliexpress Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification1" class="control-label"></label>
                <input asp-for="Specification1" class="form-control" />
                <span asp-validation-for="Specification1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImage" class="control-label"></label>
                <input asp-for="MainImage" class="form-control" />
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sku" class="control-label"></label>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5" cols="200" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecInformation" class="control-label"></label>
                <textarea asp-for="SpecInformation" class="form-control" rows="5" cols="200" ></textarea>
                <span asp-validation-for="SpecInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="UpdateProduct()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    function UpdateProduct() {
        debugger;
        var Id = $('#Id').val();
        var Url = $('#Url').val();
        var ProductName = $('#ProductName').val();
        var Specification1 = $('#Specification1').val();
        var MainImage = $('#MainImage').val();
        var Images = $('#Images').val();
        var Sku = $('#Sku').val();
        var Description = $('#Description').val();
        var SpecInformation = $('#SpecInformation').val();
        $.ajax(
        {
          type: "POST",
          url: '@Url.Action("UpdateProduct", "Products")',
                data: {
                    Id: Id,
                    Url: Url,
                    ProductName: ProductName,
                    Specification1: Specification1,
                    MainImage: MainImage,
                    Images: Images,
                    Sku: Sku,
                    Description: Description,
                    SpecInformation: SpecInformation
          },
                error: function (result) {
                    alert(ex.message);
          },
          success: function (result) {
            console.log(result);
              if (result.status == true) {
                  //alert(result.message);
                window.location.href = '@Url.Action("Index", "Products")';
            }
            else {
              alert(result.message);
            }
          }
        });
      }
</script>